.venv/
__pycache__/
*.pyc
*.egg-info/
.Python
.DS_Store
**/__MACOSX/
default_dataset/ASF-4_preprocessed/
default_dataset/Cinematic_preprocessed/
default_dataset/Dubstep_preprocessed/
default_dataset/HP-10_preprocessed/
soundfonts/

# Build artifacts
build/
dist/
